prometheus:
  KubeControllerManagerDown:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeEtcd:
    enabled: false
  alertmanager:
    config:
      route:
        receiver: "null"
        group_by: ['alertname', 'namespace', 'job', 'severity']
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: alertmanager.k8s.labs.ahinh.me
        hostnames:
          - alertmanager.k8s.labs.ahinh.me
        parentRefs:
          - name: cilium
            namespace: kube-system
    alertmanagerSpec:
      alertmanagerConfigMatcherStrategy:
        type: None
      secrets:
        - alertmanager-ext-secret
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: csi-rbd-sc
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi

  grafana:
    useStatefulSet: true
    persistence:
      enabled: true
      storageClassName: csi-rbd-sc
      type: pvc
      accessModes:
        - ReadWriteOnce
      size: 10Gi
      inMemory:
        enabled: false
    grafana.ini:
      server:
        root_url: https://grafana.k8s.labs.ahinh.me
      auth.github:
        enabled: true
        allow_sign_up: true
        scopes: user:email,read:org
        auth_url: https://github.com/login/oauth/authorize
        token_url: https://github.com/login/oauth/access_token
        api_url: https://api.github.com/user
    envFromSecrets:
      - name: grafana-ext-secret

    ingress:
      enabled: true
      hosts:
        - grafana.k8s.labs.ahinh.me
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
        external-dns.alpha.kubernetes.io/hostname: grafana.k8s.labs.ahinh.me
      tls:
        - hosts:
            - grafana.k8s.labs.ahinh.me
          secretName: grafana-cert-tls
  prometheus:
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: prometheus.k8s.labs.ahinh.me
        hostnames:
          - prometheus.k8s.labs.ahinh.me
        parentRefs:
          - name: cilium
            namespace: kube-system
          
    thanosService:
      enabled: true
    prometheusSpec:
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      thanos:
        objectStorageConfig:
          existingSecret:
            name: prometheus-thanos-s3
            key: cloud

    service:
      annotations:
        service.cilium.io/global: "true"

  prometheusOperator:
    service:
      annotations:
        service.cilium.io/global: "true"
    admissionWebhooks:
      enabled: true

      annotations:
        argocd.argoproj.io/hook: PreSync
        argocd.argoproj.io/hook-delete-policy: HookSucceeded

      patch:
        annotations:
          argocd.argoproj.io/hook: PreSync
          argocd.argoproj.io/hook-delete-policy: HookSucceeded

      mutatingWebhookConfiguration:
        annotations:
          argocd.argoproj.io/hook: PreSync

      validatingWebhookConfiguration:
        annotations:
          argocd.argoproj.io/hook: PreSync

  thanosRuler:
    enabled: true
    route:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: thanos.k8s.labs.ahinh.me
        hostnames:
          - thanos.k8s.labs.ahinh.me
        parentRefs:
          - name: cilium
            namespace: kube-system