apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
            k8s.labs.ahinh.me/cluster-os: linux
        values:
          role: "{{metadata.labels.prometheus.k8s.labs.ahinh.me/role}}"
  template:
    metadata:
      name: "kube-prometheus-stack-{{name}}"
      labels:
        app: kube-prometheus-stack
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true
    spec:
      ignoreDifferences:
        - group: apps
          kind: StatefulSet
          jqPathExpressions:
            - .spec.volumeClaimTemplates[]?.apiVersion
            - .spec.volumeClaimTemplates[]?.kind
      project: default
      source:
        repoURL: git@github.com:ahinh43/homelab-k8s-config.git
        targetRevision: HEAD
        path: prometheus-operator
        helm:
          valueFiles:
            - values.yaml
            - "{{values.role}}/values.yaml"
          valuesObject:
            prometheus:
              defaultRules:
                labels:
                  cluster: "{{name}}"
                  ext_labels_cluster: "{{name}}"
              prometheus:
                prometheusSpec:
                  externalLabels:
                    cluster: "{{name}}"
                    ext_labels_cluster: "{{name}}"
                serviceMonitor:
                  additionalLabels:
                    cluster: "{{name}}"
                    ext_labels_cluster: "{{name}}"
          releaseName: kube-prometheus-stack
      destination:
        name: "{{name}}"
        namespace: kube-prometheus-stack
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - ServerSideApply=true
          - CreateNamespace=true
        managedNamespaceMetadata:
          labels:
            app: kube-prometheus-stack
