externalsecrets:
  certController:
    enabled: false
  webhook:
    certManager:
      enabled: false
  serviceMonitor:
    enabled: true
  serviceAccount:
    create: true
    name: "external-secrets"
  secretStore:
    enabled: true
    mountPath: kubernetes-external
    role: external-secrets
  onepassword:
    vault: homelab-k8s
    serviceAccountSecretRef:
      name: onepassword-token
      key: token
      namespace: kube-system