cilium:
  cluster:
    name: kube
    id: 100
  hubble:
    enabled: true
    relay:
      enabled: true
      rollOutPods: true
    ui:
      enabled: true
  ipv4NativeRoutingCIDR: 10.0.0.0/8
  ipam:
    # -- Configure IP Address Management mode.
    # ref: https://docs.cilium.io/en/stable/network/concepts/ipam/
    mode: "cluster-pool"
    # -- Maximum rate at which the CiliumNode custom resource is updated.
    ciliumNodeUpdateRate: "15s"
    operator:
      # -- IPv4 CIDR list range to delegate to individual nodes for IPAM.
      clusterPoolIPv4PodCIDRList: ["10.244.0.0/16"]
      # -- IPv4 CIDR mask size to delegate to individual nodes for IPAM.
      clusterPoolIPv4MaskSize: 24

  kubeProxyReplacement: true
  k8sServiceHost: kube.labs.ahinh.me
  k8sServicePort: 6443
  gatewayAPI:
    enabled: true
    hostNetwork:
      enabled: true
  envoy:
    enabled: true
    securityContext:
      capabilities:
        keepCapNetBindService: true
        envoy:
        # Add NET_BIND_SERVICE to the list (keep the others!)
        - NET_ADMIN
        - NET_BIND_SERVICE

  # bgp:
  #   enabled: true
  #   announce:
  #     podCIDR: true
  #     # Controlled by MetalLB (for now?)
  #     loadbalancerIP: false

  bgpControlPlane:
    enabled: true

  nodeinit:
    enabled: true

  externalIPs:
    enabled: true

  nodePort:
    enabled: true

  hostPort:
    enabled: true
