apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-alertmanager-external-secret
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/part-of: alertmanager
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: external-secrets-opassword
    kind: ClusterSecretStore
  target:
    name: alertmanager-ext-secret
  dataFrom:
  - extract:
      conversionStrategy: Default
      key: prometheus
      decodingStrategy: None
      metadataPolicy: None