apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-external-secret
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/part-of: grafana
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: external-secrets-opassword
    kind: ClusterSecretStore
  target:
    name: grafana-ext-secret
  dataFrom:
  - extract:
      conversionStrategy: Default
      key: grafana
      decodingStrategy: None
      metadataPolicy: None