velero:
  deployNodeAgent: true
  features: EnableCSI
  resources:
    requests:
      cpu: 1000m
      memory: 512Mi
    limits:
      cpu: 2000m
      memory: 1024Mi
  metrics:
    prometheusRule:
      enabled: true

  # https://github.com/vmware-tanzu/helm-charts/issues/698
  kubectl:
    image:
      repository: public.ecr.aws/bitnami/kubectl
      tag: latest

  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.13.0
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins

  credentials:
    useSecret: false
    existingSecret: velero-aws-secret
  configuration:
    uploaderType: kopia
    defaultVolumesToFsBackup: false
    backupStorageLocation:
      - name: default
        provider: "velero.io/aws"
        bucket: ahinh-velero-backups
        credential:
          name: velero-aws-secret
          key: cloud
        config:
          s3Url: "http://minio.labs.ahinh.me:9000"
          s3ForcePathStyle: "true"
          region: us-east-1
    volumeSnapshotLocation:
      - name: default
        provider: "velero.io/aws"
        bucket: ahinh-velero-snapshots
        credential:
          name: velero-aws-secret
          key: cloud
        config:
          region: us-east-1