external-dns:
  sources:
    - service
    - ingress
    - gateway-httproute
    - gateway-grpcroute
  domainFilters: 
    - ahinh.me
  provider:
    name: cloudflare
  logLevel: debug
  env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: cloudflare_api_token