external-dns:
  sources:
    - service
    - ingress
    - gateway-httproute
    - gateway-tlsroute
    - gateway-tcproute
    - gateway-udproute
  domainFilters: 
    - labs.ahinh.me
  provider: 
    name: cloudflare
  env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-token
        key: cloudflare_api_token